.project__container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: background-color 0.1s ease-in-out;
  border: 2px solid red;
}
.box h2 {
  color: orange;
  text-align: center;
}

.box img {
  position: absolute;
  align-content: center;
  opacity: 100%;
  width: 196px;
  height: 150px;
  z-index: 1;
  display: block;
  margin: auto;
}

.inactive {
  background-color: aqua;
}

.active {
  background-color: lime;
}
